<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
     <h1> <%= link_to "Snapshot", root_path %></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="active"><a href="#">Register</a></li>
     <!--  <li class="has-dropdown"> -->
      <li>  
        <a href="#">Sign-in</a>
        <!-- <ul class="dropdown">
          <li><a href="#">First link in dropdown</a></li>
          <li class="active"><a href="#">Active link in dropdown</a></li>
         --></ul>
      </li>
    </ul>

    <!-- Left Nav Section -->
 <!--    <ul class="left">
      <li><a href="#">Left Nav Button</a></li>
    </ul> -->
  </section>
</nav>

<section class="row">
	<aside class="columns small-12 medium-12 large-6 color">
	  <div class="callout panel">
	    <div id="map-canvas"></div>
	  </div>
  </aside>

  <div class="columns small-12 medium-6 large-6" >
  	<h1>Listings</h1>
			<% @collection.each do |term| %>
  	  <%= render partial: "listings", locals: { term: term } %>
     <% end %>
  </div>
</section>
<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLaewY8pVnG3ntSNuNmg9Axn8XodRAczY">
</script>