// Place all the styles related to the Listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin icon-listing-position {
  	position:relative;
	  top: 24px;
	  left:-5px;
}

.listing {
	padding: 1em;
	border-bottom: 1px solid #7f8e96;	

}


.listing:hover{
		background-color: #fff;
}
.listing-wrapper{
	background-color:rgba(235,255,255,.8);
	padding: 1em 0em;
}
.lat-long{
	display: none;
}

.edit_listing input{
	width: 3em;
}

/*google maps*/
 html { height: 100% }
 body { height: 100%; margin: 0; padding: 0 }
.callout{
	position: relative;
		top: 15px;
		left: 0px;
}

.listing-show{
	overflow: hidden;

	#map-canvas { 
	min-width: 20em;
	min-height: 15em;
	 }
}
.listing-ul-list .listing-ul-line{
	list-style-type: none;
	font-size: .8em;
}

.listings-row{
	background-color: #f4f9fc;
	height: 40em;
	overflow: scroll;
}

.available{
@include icon-listing-position;
	color: green;
}
.warning{
	@include icon-listing-position;
	color: rgb(252, 138, 51);
}
.expired{
	@include icon-listing-position;
	color:red;
}

.large-display-listing{
	float: right;
	padding: 1em;
	background-color: orange; 
}

