// Place all the styles related to the Listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.listing {
	padding: 1em;
	/*height: 100px;*/
	width: 300px;
	border: 1px solid black;
	margin-bottom: 1em;
}


/*google maps*/
 html { height: 100% }
 body { height: 100%; margin: 0; padding: 0 }
 

aside {
	min-width: 20em;
	min-height: 20em;
	background-color: orange;

	#map-canvas { height: 19em;
	width: 19em; }
}