// Place all the styles related to the Listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.listing {
	padding: 1em;
	/*width: 300px;*/
	margin-bottom: 1em;
}
.listing-wrapper{
	background-color:rgba(235,255,255,.8);
	padding: 1em 0em;
}


/*google maps*/
 html { height: 100% }
 body { height: 100%; margin: 0; padding: 0 }
.callout{
	position: relative;
		top: 15px;
		left: 0px;
}

.listing-show{
	overflow: hidden;

	#map-canvas { 
	min-width: 20em;
	min-height: 15em;
	 }
}
.listing-ul-list .listing-ul-line{
	list-style-type: none;
}

